{% extends "base.html" %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="col-md-6">
        <div class="form-frame">
            <h2>Change Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-3">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}